<button (click)="this.fetchData()">Call API Service</button>
<div *ngIf="this.jsonData && this.jsonData.contacts">
    <table ngShow="this.jsonData && this.jsonData.contacts">
        <thead>
            <tr>
                <th *ngFor="let key of Object.keys(this.jsonData.contacts[0])">{{key}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of this.jsonData.contacts">
                <td *ngFor="let key of Object.keys(contact)">
                    {{contact.key}}
                </td>
            </tr>
        </tbody>
    </table>
</div>